@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@Admin_Resources.LabelAdmin</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <div class="col-sm-6 col-lg-4">
            <a href="/RoleAndAccessRight/RoleList">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-role-access-right"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleRoleAndAccessRight</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/User/UsersList">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-store-admin"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderStoreAdministrators</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/RoleAndAccessRight/MenuList">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-menu-list"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderMenuList</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/User/CustomersList">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-customers"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.CustomerHeader</h3>
                        <span>Search customer accounts, view order history, and access service notes.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/ProductFeed/CreateProductFeed">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-product-feed"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelProductFeed</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Import/List">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-import"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.ButtonImport</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/WareHouse/List">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-warehouse"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderWarehouse</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/StoreLocator/List">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-store-locator"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleStoreLocator</h3>
                        <span>Manage locations of your physical stores that can then be searched via a store locator.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/TouchPointConfiguration/List">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-erp-configurator"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelERPConfigurator</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>  
        <div class="col-sm-6 col-lg-4">
            <a href="/ProviderEngine/TaxRuleTypeList">
                <div class="quick-link">
                    <div class="icon">
                        <em class="z-provider-engine"></em>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleProviderEngine</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>                              
    </section>
</div>