@model Znode.Engine.Admin.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = Admin_Resources.ResetPassword;
}
<div id="loginForm">
    @using (Html.BeginForm())
            {
                <!--Main Container-->
        <div class="col-sm-12 title-container">
            <h1 class="login-title">@Admin_Resources.ResetPassword</h1>
            <div class="pull-right btn-container">
                <button type="submit" class="btn-text btn-text-secondary">@Admin_Resources.ButtonSave</button>
            </div>
        </div>
        <section class="col-sm-12 page-container reset-admin-password">
            <div class="col-sm-12 nopadding">
                <p class="login-form-forgotpassword">@Admin_Resources.ForgotPasswordMessage</p>
            </div>
            <div class="col-sm-12 nopadding">
                <div class="form-group">
                    <div class="control-label">
                        @Html.Label(Admin_Resources.LabelOldPassword, new { @class = "required" })
                    </div>
                    <div class="control-md">
                        @Html.PasswordFor(m => m.OldPassword, new { @type = "password" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        @Html.Label(Admin_Resources.LabelNewPassword, new { @class = "required" })
                    </div>
                    <div class="control-md">
                        @Html.PasswordFor(m => m.NewPassword, new { @type = "password" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        @Html.Label(Admin_Resources.LabelConfirmPassword, new { @class = "required" })
                    </div>
                    <div class="control-md">
                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @type = "password" })
                        <p class="sub">@Admin_Resources.ValidPassword</p>
                        @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                    </div>

                </div>
                @Html.HiddenFor(x => x.UserName)
            </div>
        </section>
    }
</div>

@*<div class="col-sm-12 login-container-footer">
        <img src="~/Content/themes/base/images/znode-logo-white.png" alt="Logo Image" class="img-responsive" />
    </div>*@
