@using Znode.Engine.WebStore.ViewModels
@model TemplateViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    Model.IsViewMode = false;
    TempData["UpdatedTemplateName"] = Model.TemplateName;
    string AddEditBreadcrumbText = "Edit Saved Cart";
}
<div id="layout-template-cartItem" class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> /@AddEditBreadcrumbText</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row">
                        <div class="col-12 col-lg-8 mb-5 right-container">
                            <div class="row no-gutters">
                                <div class="col-12 d-flex justify-content-between align-items-center">
                                    @{
                                        {
                                            <h1 class="page-title">@WebStore_Resources.EditSavedCart</h1>
                                        }
                                    }
                                    <div data-test-selector="divButtonBack"><a href="/SavedCart/SavedCartList" class="btn btn-secondary" data-test-selector="linkButtonBack">@WebStore_Resources.ButtonBack</a></div>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 account-recent-orders">
                                        <div class="col-12 p-4">

                                            @using (Html.BeginForm(actionName, "SavedCart", FormMethod.Post, new { role = "form", @id = "frmCreateEditTemplate", @class = "col-12 p-0" }))
                                            {
                                                <div class="col-12 col-md-6 p-0 b2b-form" id="txtTemplateName">
                                                    @Html.AntiForgeryToken()
                                                    <div class="form-group">
                                                        @Html.Label(WebStore_Resources.SavedCartName)
                                                        @if (Model.OmsTemplateId > 0)
                                                        {
                                                            <input type="text" value="@Model.TemplateName" data-payment="text" Onchange = "Cart.prototype.EditSavedCartName()" id="SavedCartName" data-test-selector="txtEditSavedCart" />
                                                            <span type="text" data-payment="text" class="error-msg" id="validTemplateName" data-test-selector="txtSavedCartName"></span>
                                                            @Html.HiddenFor(x => x.TemplateName)
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(x => x.TemplateName, new { @data_test_selector = "txtEditSavedCart" })
                                                            @Html.ValidationMessageFor(x => x.TemplateName, string.Empty, new { id = "validTemplateName", @class = "error-msg" })
                                                        }
                                                    </div>
                                                </div>
                                                @Html.HiddenFor(x => x.OmsTemplateId)
                                            }
                                        </div>
                                        <div id="TemplateCartItem" class="col-12 p-0">
                                            @Html.Partial("_EditSavedCartRow", Model)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#txtTemplateName").keypress(function (e) {
        //Prevent the form submission on enter.
        if (e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
    });
</script>

