@using Znode.Engine.Admin.ViewModels;
@model BrandViewModel
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>@Admin_Resources.Custom1</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(model => model.Custom1)
            @Html.ValidationMessageFor(model => model.Custom1)
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>@Admin_Resources.Custom2</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(model => model.Custom2)
            @Html.ValidationMessageFor(model => model.Custom2)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">

            <label>@Admin_Resources.Custom3</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(model => model.Custom3)
            @Html.ValidationMessageFor(model => model.Custom3)
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>@Admin_Resources.Custom4</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(model => model.Custom4)
            @Html.ValidationMessageFor(model => model.Custom4)
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label>@Admin_Resources.Custom5</label>
        </div>
        <div class="control-md">
            @Html.TextBoxFor(model => model.Custom5)
            @Html.ValidationMessageFor(model => model.Custom5)
        </div>
    </div>
</div>

