@using Znode.Engine.Admin.ViewModels
@model ContentPageListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleCMS + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div id="@Model.GridModel.FrontObjectName">
    <div class="row">
        <!--Left Panel-->
        @Html.Partial("~/Views/Content/_asideContentPanel.cshtml", Model)
        <!--Main Container-->
        <div id="ContentPageDiv">
            <section class="main-container">
                <div class="col-sm-12 page-container">
                    <div class="col-sm-12 title-container">
                        <h1>@Admin_Resources.HeaderManageStaticPages</h1>
                        <div class="pull-right">
                            @Ajax.AuthorizedRawActionLink(Admin_Resources.ButtonAdd,
                "AddContentPage", "Content", "", new AjaxOptions { UpdateTargetId = "ContentPageDiv", InsertionMode = InsertionMode.Replace }, new { @class = "btn-text" })
                        </div>
                    </div>
                    @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                    {
                        <div id="filterComponent">
                            @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                        </div>
                    }

                    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextConfirmDelete,
                ModalPopUpId = "StaticPageDeletePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "javscript: var content = new Content(); content.DeleteContentPage(this)"}
                }
            })
                    <div class="col-sm-12 list-container">
                        @{
                            @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>




