@model Znode.Engine.Admin.ViewModels.ProfileViewModel
@using Znode.Engine.Admin.ViewModels;
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateUpdateProfile", CancelUrl = "/Profiles/List"};
}

<div class="col-sm-12 title-container">
    @if (Model.ProfileId == 0)
    {
        <h1>@string.Format(@Admin_Resources.TitleAdd, Admin_Resources.LabelUserProfile)</h1>
    }
    else
    {
        <h1>@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.LabelUserProfile)<em class="z-minus"></em><span>@Model.ProfileName</span></h1>
    }
    <div class="pull-right">
        @Html.Partial("~/Views/Shared/Controls/_SaveCancelButtons.cshtml", actionModel)
    </div>
</div>
<!--Main Container-->
<section class="col-sm-12 page-container">
    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCreateUpdateProfile" }))
            {
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label class="required">@Admin_Resources.ZnodeProfileName</label>
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(x => x.ProfileName)
                    @Html.ValidationMessageFor(m => m.ProfileName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label>@Admin_Resources.ZnodeProfileCode</label>
                </div>
                <div class="control-md">
                    @Html.TextBoxFor(x => x.DefaultExternalAccountNo)
                </div>
                @Html.Partial("_HelpText", @Admin_Resources.HelptextProfileExternalId)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 nopadding">
                <div class="control-label">
                    <label>@Admin_Resources.ZnodeProfileSetting</label>
                </div>
                <div class="control-md">
                    <div class="col-sm-12 nopadding">
                        <label>
                            <input @(Model.TaxExempt ? "checked='checked'" : "" ) id="TaxExempt" name="TaxExempt" type="checkbox" value="true">
                            <span class="lbl padding-8" for="TaxExempt">@Admin_Resources.TaxExempt</span>
                            <input name="TaxExempt" type="hidden" value="false">
                        </label>
                    </div>
                </div>
            </div>
        </div>
            @Html.HiddenFor(x => x.ProfileId)
    }
</section>
