@model Znode.Engine.Admin.Models.GridModel
@{
    ViewBag.Title = Admin_Resources.TitleAdvanced + " | " + Admin_Resources.TitleMultifront;
}
<div id="@Model.FrontObjectName">
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitleDynamicXML</h1>
        <div class="pull-right">
            @Html.AuthorizedRawActionLink("<em class='z-add-circle'></em>" + Admin_Resources.ButtonCreateXML, "CreateXML", "XMLGenerator", null, new { @class = "btn-text-icon" })
        </div>
    </div>
    <section class="col-sm-12 page-container">        
            @using (Ajax.BeginForm("List", "XMLGenerator", new AjaxOptions() { UpdateTargetId = Model.FrontObjectName, OnSuccess = "WebgridHelper.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.FilterColumn)
                </div>
            }        
        <div class="col-sm-12 list-container">
            <div class="col-sm-12 nopadding">                
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model)
            </div>
        </div>

        <div id="vieXmlDialog" title="View XML">
            <div id="xmlTextDiv" class="xmlview-content">
            </div>
        </div>
    </section>
</div>

@Scripts.Render("~/bundles/XmlGenerator")
<script>
    $(document).ready(function () { RefreshLocationOndelete = true; })
</script>