@using Znode.Engine.Admin.ViewModels;
@model AddressViewModel
@{
    ViewBag.Title = Admin_Resources.TitleCustomers + " | " + Admin_Resources.TitleMultifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateAccountAddress" };
    Model.CheckboxPrefix = string.Empty;
}
<div id="aside-popup-panel">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { id = "frmCreateAccountAddress" }))
        {
            <div class="col-sm-12 title-container">
                @if (actionName.ToLower().Contains("edit"))
                {
                    <h1 data-test-selector="hdg@(Model.DisplayName)">@string.Format(@Admin_Resources.TitleEdit, Admin_Resources.LabelAddress)<em class="z-minus"></em><span>@Model.DisplayName</span></h1>
                }
                else
                {
                    <h1 data-test-selector="hdg@(Model.DisplayName)">@string.Format(@Admin_Resources.TitleAdd, Admin_Resources.LabelAddress)</h1>
                }
                    <div class="pull-right btn-conatiner">
                        <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divAddCustomerAddress')" data-test-selector="linkCancel"><em class="z-back"></em>@Admin_Resources.ButtonCancel</button>
                        <div class="pull-right padding-left">
                            <button type="submit" class=" btn-text btn-text-secondary" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                        </div>
                    </div>
            </div>
            <!--Main Container-->
            <section class="col-sm-12 page-container">
                <div class="col-sm-12 nopadding">
                    @Html.Partial("_Address", Model)
                </div>
            </section>
        }
</div>
@Scripts.Render("~/bundles/jqueryval")
