@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{     
    string ErrorMessage = Model?.ErrorMessage;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="container">
    <div class="row register-container">
        <div class="col-12 text-right nav-header">

            <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
            <div class="nav-label"><div class="cut-text" data-test-selector="divResetPassword"> @WebStore_Resources.ButtonResetPassword.ToUpper()</div></div>
        </div>
        <div class="col-12 nav-body">
            <div class="col-12 mb-3 p-0">
                <p>@WebStore_Resources.SubTextResetPassword</p>
            </div>
            <div class="col-12 p-0">
                <p class="error-msg">@ErrorMessage</p>
            </div>
            <div class="col-12 mb-5 p-0">
                @using (Ajax.BeginForm(actionName, controllerName, new AjaxOptions { OnSuccess = "User.prototype.RedirectToLogin", OnBegin = "User.prototype.ShowLoader", OnFailure = "User.prototype.HideLoader" }, new { @class = "", role = "form", @id = "frmForgotPassword" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-12 p-0">
                            <label class="control-label required" data-test-selector="lblUsername">@WebStore_Resources.LabelUserNameEmail</label>
                        </div>
                        <div class="col-12 p-0">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUserName" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
                        </div>
                    </div>
                    <div class="col-12 p-0">
                        <button type="submit" class="btn btn-primary btn-block" data-test-selector="btnForgetSubmit">@WebStore_Resources.ButtonSubmitRequest</button>
                        <button type="button" class="btn btn-secondary btn-block mt-3" onclick="User.prototype.LoginInPopup()" data-test-selector="btnForgetCancel">@WebStore_Resources.ButtonCancel</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
