@using Znode.Engine.WebStore.ViewModels
@model UserViewModel
@{

    string ErrorMessage = Model?.ErrorMessage;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

}
<div class="container">
    <div class="row register-container forgot-password-view">
        <div class="col-md-8 col-lg-6">
            <div class="col-12 pr-0 nav-header">
                <h1 class="page-title">@WebStore_Resources.ButtonResetPassword</h1>
            </div>
            <div class="col-12 pr-0 nav-body">
                <div class="col-12 mb-3 p-0">
                    <p>@WebStore_Resources.SubTextResetPassword</p>
                </div>
                <div class="col-12 mb-5 p-0">
                    @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-12 p-0">
                                <label class="control-label required" data-test-selector="lblUsername">@WebStore_Resources.LabelUserNameEmail</label>
                            </div>
                            <div class="col-12 p-0">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @data_test_selector = "txtUserName" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @data_test_selector = "spnValidForUsername" })
                            </div>
                        </div>
                        <div class="col-12 p-0">
                            <button type="submit" class="btn btn-primary mr-md-2" data-test-selector="btnForgetSubmit">@WebStore_Resources.ButtonSubmitRequest</button>
                            <a href="/" class="btn btn-secondary mt-3 mt-md-0" id="btnForgetCancel" data-test-selector="btnForgetCancel">@WebStore_Resources.ButtonCancel</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>