@model  Znode.Engine.Admin.Models.GridModel
@{
    string viewActionUrl = string.Join("/", "..", ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["action"].ToString());
}
@if (!Equals(Model.ViewModeType, null))
{
    <div class="grid-view-option" id="grid-view-type">
        <div class="switch-field switchAutoPlay" style="margin-right:5px;">
            @foreach (var item in Model.ViewModeType)
            {
                if (item.Value == "List" && item.Selected == true)
                {
                    @Html.RadioButtonFor(x => x.ViewMode, "true", new { @checked = true, @id = "ViewMode_List" }) <label class="detail_view" id="List" for="ViewMode_List">List</label>
                    @Html.RadioButtonFor(x => x.ViewMode, "false", new { @id = "ViewMode_Tile" }) <label class="detail_view" id="Tile" for="ViewMode_Tile">Tile</label>
                }
                else if (item.Value == "Tile" && item.Selected == true)
                {
                    @Html.RadioButtonFor(x => x.ViewMode, "false", new { @id = "ViewMode_List" }) <label class="detail_view" id="List" for="ViewMode_List">List</label>
                    @Html.RadioButtonFor(x => x.ViewMode, "true", new { @checked = true, @id = "ViewMode_Tile" }) <label class="detail_view" id="Tile" for="ViewMode_Tile">Tile</label>
                }
            }
        </div>
        @Html.Hidden("GridViewType", Model.ViewModeType.FirstOrDefault(x => x.Selected == true).Value, new { @id = "viewmode" })
    </div>
}
